In [4]:
import json
schema_path = 'schema_training.json'

with open(schema_path, 'r') as f:
    dic = json.load(f)
    f.close()

In [5]:
dic

{'SampleFileName': 'hypothyroid_08012020_120000.csv',
 'LengthOfDateStampInFile': 7,
 'LengthOfTimeStampInFile': 13,
 'NumberofColumns': 30,
 'ColName': {'age': 'Integer',
  'sex': 'varchar',
  'on_thyroxine': 'varchar',
  'query_on_thyroxine': 'varchar',
  'on_antithyroid_medication': 'varchar',
  'sick': 'varchar',
  'pregnant': 'varchar',
  'thyroid_surgery': 'varchar',
  'I131_treatment': 'varchar',
  'query_hypothyroid': 'varchar',
  'query_hyperthyroid': 'varchar',
  'lithium': 'varchar',
  'goitre': 'varchar',
  'tumor': 'varchar',
  'hypopituitary': 'varchar',
  'psych': 'varchar',
  'TSH_measured': 'varchar',
  'TSH': 'float',
  'T3_measured': 'varchar',
  'T3': 'float',
  'TT4_measured': 'varchar',
  'TT4': 'float',
  'T4U_measured': 'varchar',
  'T4U': 'float',
  'FTI_measured': 'varchar',
  'FTI': 'float',
  'TBG_measured': 'varchar',
  'TBG': 'varchar',
  'referral_source': 'varchar',
  'Class': 'varchar'}}

In [6]:
pattern = dic['SampleFileName']
LengthOfDateStampInFile = dic['LengthOfDateStampInFile']
LengthOfTimeStampInFile = dic['LengthOfTimeStampInFile']
column_names = dic['ColName']
NumberofColumns = dic['NumberofColumns']

In [7]:
pattern

'hypothyroid_08012020_120000.csv'

In [8]:
LengthOfDateStampInFile

7

In [9]:
LengthOfTimeStampInFile

13

In [10]:
column_names

{'age': 'Integer',
 'sex': 'varchar',
 'on_thyroxine': 'varchar',
 'query_on_thyroxine': 'varchar',
 'on_antithyroid_medication': 'varchar',
 'sick': 'varchar',
 'pregnant': 'varchar',
 'thyroid_surgery': 'varchar',
 'I131_treatment': 'varchar',
 'query_hypothyroid': 'varchar',
 'query_hyperthyroid': 'varchar',
 'lithium': 'varchar',
 'goitre': 'varchar',
 'tumor': 'varchar',
 'hypopituitary': 'varchar',
 'psych': 'varchar',
 'TSH_measured': 'varchar',
 'TSH': 'float',
 'T3_measured': 'varchar',
 'T3': 'float',
 'TT4_measured': 'varchar',
 'TT4': 'float',
 'T4U_measured': 'varchar',
 'T4U': 'float',
 'FTI_measured': 'varchar',
 'FTI': 'float',
 'TBG_measured': 'varchar',
 'TBG': 'varchar',
 'referral_source': 'varchar',
 'Class': 'varchar'}

In [11]:
NumberofColumns

30

In [22]:
Batch_Directory ='Training_Batch_Files'

In [23]:
onlyfiles = [f for f in os.listdir(Batch_Directory)]

In [25]:
len(onlyfiles)

28

In [27]:
import regex as re

In [28]:
regex = "['hypothyroid']+['\_'']+[\d_]+[\d]+\.csv"

In [29]:
onlyfiles

['hypothyroid_0102062112000.csv',
 'hypothyroid_02111.csv',
 'hypothyroid_0211198_0102062.csv',
 'hypothyroid_0211198_0102062111000.csv',
 'hypothyroid_0211198_0102062111998.csv',
 'hypothyroid_0211198_0102062111999.csv',
 'hypothyroid_0211198_0102062112000.csv',
 'hypothyroid_0211198_0102062112001.csv',
 'hypothyroid_0211198_0102062112002.csv',
 'hypothyroid_0211198_0102062112003.csv',
 'hypothyroid_0211198_0102062112004.csv',
 'hypothyroid_0211198_0102062112005.csv',
 'hypothyroid_0211198_0102062112006.csv',
 'hypothyroid_0211198_0102062112007.csv',
 'hypothyroid_0211198_0102062112008.csv',
 'hypothyroid_0211198_0102062112009.csv',
 'hypothyroid_0211198_0102062112010.csv',
 'hypothyroid_0211198_0102062112011.csv',
 'hypothyroid_0211198_0102062112012.csv',
 'hypothyroid_0211198_0102062112013.csv',
 'hypothyroid_0211198_0102062112014.csv',
 'hypothyroid_0211198_0102062112015.csv',
 'hypothyroid_0211198_0102062112016.csv',
 'hypothyroid_0211198_0102062112025.csv',
 'hypothyroid_0211198_0102062112042.csv',
 'hypothyroid_0211198_0102062112109.csv',
 'wafer_0211198_0102062112001.csv',
 '_0211198_0102062112004.csv']

In [46]:
splitAtDot = re.split('.csv', 'hypothyroid_0102062112000.csv')

In [47]:
splitAtDot[0]

'hypothyroid_0102062112000'

In [48]:
splitAtDot = (re.split('_', splitAtDot[0]))

In [49]:
splitAtDot

['hypothyroid', '0102062112000']

In [51]:
splitAtDot[0]

'hypothyroid'

In [55]:
import pandas as pd
csv =  pd.read_csv("Training_Batch_Files/hypothyroid_0211198_0102062.csv")

In [56]:
csv.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,49,F,f,f,f,t,f,f,f,f,...,t,93,t,0.94,t,99,f,?,other,negative
1,46,M,f,f,f,f,f,f,f,f,...,t,125,t,1.02,t,122,f,?,SVHC,negative
2,80,F,f,f,t,f,f,f,f,f,...,t,83,t,1.11,t,76,f,?,other,negative
3,80,F,f,f,f,f,f,f,f,f,...,t,94,t,0.94,t,100,f,?,SVHC,negative
4,26,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,negative

In [65]:
columns = csv.columns

In [61]:
for columns in csv:
    if  (len(csv[columns]) - csv[columns].count()) == len(csv[columns]):
        print(True)

In [68]:
len(csv[columns])

200

In [67]:
columns

Index(['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH', 'T3_measured',
       'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured',
       'FTI', 'TBG_measured', 'TBG', 'referral_source', 'Class'],
      dtype='object')

In [64]:
csv.columns

Index(['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH', 'T3_measured',
       'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured',
       'FTI', 'TBG_measured', 'TBG', 'referral_source', 'Class'],
      dtype='object')

In [69]:
csv.shape

(200, 29)

In [70]:
for columns in csv:
    print(len(csv[columns]))

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

In [71]:
csv[columns].count()

200

In [72]:
columns

'Class'

In [73]:
csv.columns

Index(['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH', 'T3_measured',
       'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured',
       'FTI', 'TBG_measured', 'TBG', 'referral_source', 'Class'],
      dtype='object')

In [75]:
len(csv["age"])

200

In [76]:
csv["age"].count()

200

In [77]:
import sqlite3

In [78]:
conn = sqlite3.connect('Training_Database/Training.db')

In [79]:
 c=conn.cursor()

In [85]:
c.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table' AND name = 'Good_Raw_Data'")

In [86]:
c.fetchone()[0]

1

In [175]:

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'G:\secure-connect-firstdb.zip'
}
auth_provider = PlainTextAuthProvider('qICPLuZntDqsLWOIiJRpBDxt', 'IznL+E_WK,Gl1BK8vdd4vXrrXmK3w6l4dYMU_d1C.QadYO3,2bAaq1L8ZxOw9JQnNmodu8WuAeDy9Qed_-yeLT6+B4781lYvvvnZratvR41eJ-jrJTmWMDyLii+QM,Yb')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6815

In [176]:
session.set_keyspace("model")

In [177]:
for i in session.execute("select * from model.student_details;"):
    print(i)

Row(s_id=5, status='Active', std_class=8, std_name='Shyam')
Row(s_id=10, status='Active', std_class=9, std_name='Krish')
Row(s_id=16, status='Active', std_class=10, std_name='Vipul')
Row(s_id=13, status='Not_Active', std_class=12, std_name='Raju')
Row(s_id=11, status='Active', std_class=10, std_name='Sudh')
Row(s_id=1, status='Active', std_class=10, std_name='Ram')
Row(s_id=19, status='Active', std_class=11, std_name='Asif')
Row(s_id=8, status='Active', std_class=12, std_name='Upendra')
Row(s_id=2, status='Active', std_class=10, std_name='Ram')
Row(s_id=4, status='Not_Active', std_class=12, std_name='Geeta')
Row(s_id=18, status='Active', std_class=12, std_name='Gulam')
Row(s_id=15, status='Not_Active', std_class=12, std_name='Deepak')
Row(s_id=20, status='Active', std_class=12, std_name='Umar')
Row(s_id=7, status='Not_Active', std_class=11, std_name='Vishal')
Row(s_id=6, status='Active', std_class=9, std_name='Roshan')
Row(s_id=9, status='Not_Active', std_class=11, std_name='Anand')
Row(s_id=14, status='Active', std_class=8, std_name='Rajesh')
Row(s_id=21, status='Not_Active', std_class=11, std_name='Harsh')
Row(s_id=17, status='Not_Active', std_class=9, std_name='Vijay')
Row(s_id=12, status='Active', std_class=10, std_name='Shweta')

In [101]:
session.execute("Create TABLE family_detailsss(f_id int PRIMARY KEY, f_name varchar, f_phone int, f_class int, status varchar);")

In [97]:
column_names = {'age': 'Integer',
 'sex': 'varchar',
 'on_thyroxine': 'varchar',
 'query_on_thyroxine': 'varchar',
 'on_antithyroid_medication': 'varchar',
 'sick': 'varchar',
 'pregnant': 'varchar',
 'thyroid_surgery': 'varchar',
 'I131_treatment': 'varchar',
 'query_hypothyroid': 'varchar',
 'query_hyperthyroid': 'varchar',
 'lithium': 'varchar',
 'goitre': 'varchar',
 'tumor': 'varchar',
 'hypopituitary': 'varchar',
 'psych': 'varchar',
 'TSH_measured': 'varchar',
 'TSH': 'float',
 'T3_measured': 'varchar',
 'T3': 'float',
 'TT4_measured': 'varchar',
 'TT4': 'float',
 'T4U_measured': 'varchar',
 'T4U': 'float',
 'FTI_measured': 'varchar',
 'FTI': 'float',
 'TBG_measured': 'varchar',
 'TBG': 'varchar',
 'referral_source': 'varchar',
 'Class': 'varchar'}

In [141]:
#session.execute('CREATE TABLE  model.check_Data (age int PRIMARY KEY)')
for key in column_names.keys():
    dtype = column_names[key]
    session.execute('CREATE TABLE model.check_Datas ({column_name} {dataType})'.format(column_name=key, dataType=dtype))

InvalidRequest: Error from server: code=2200 [Invalid query] message="No PRIMARY KEY specified for table 'model.check_datas' (exactly one required)"

In [108]:
session.session_id

UUID('071ffc16-81db-45b5-9d02-c624580ed8f4')

In [132]:
session.set_keyspace("TDD")

In [121]:
session.set_keyspace("model")

In [144]:
try:
    
    session.execute(f"CREATE TABLE model.goodrawdata({age} {integer} PRIMARY KEY, {sex} {var}, {on_thyroxine} {var},{query_on_thyroxine} {var},{on_antithyroid_medication} {var},{sick} {var},{pregnant} {var},{thyroid_surgery} {var}, {I131_treatment} {var}, {query_hypothyroid} {var}, {query_hyperthyroid} {var}, {lithium} {var}, {goitre} {var}, {tumor} {var}, {hypopituitary} {var}, {psych} {var}, {TSH_measured} {var}, {TSH} {var}, {T3_measured} {var}, {T3} {var}, {TT4_measured} {var}, {TT4} {var}, {T4U_measured} {var}, {T4U} {var}, {FTI_measured} {var}, {FTI} {var}, {TBG_measured} {var}, {TBG} {var}, {referral_source} {var}, {Class} {var});")
    
except:
    print("Table present")

Table present

In [158]:
try:
    
    try:
         session.execute(f"CREATE TABLE model.goodrawdata({age} {integer} PRIMARY KEY, {sex} {var}, {on_thyroxine} {var},{query_on_thyroxine} {var},{on_antithyroid_medication} {var},{sick} {var},{pregnant} {var},{thyroid_surgery} {var}, {I131_treatment} {var}, {query_hypothyroid} {var}, {query_hyperthyroid} {var}, {lithium} {var}, {goitre} {var}, {tumor} {var}, {hypopituitary} {var}, {psych} {var}, {TSH_measured} {var}, {TSH} {var}, {T3_measured} {var}, {T3} {var}, {TT4_measured} {var}, {TT4} {var}, {T4U_measured} {var}, {T4U} {var}, {FTI_measured} {var}, {FTI} {var}, {TBG_measured} {var}, {TBG} {var}, {referral_source} {var}, {Class} {var});")
    
    except:
        print("Table already Present !!")
        
except Exception as e:
    print(e)

Table already Present !!

In [167]:
from os import listdir
goodFilePath = "Training_Batch_files//"
onlyfiles = [f for f in listdir(goodFilePath)]

In [168]:
onlyfiles

['hypothyroid_0211198_0102062112006.csv']

In [169]:
session.set_keyspace("model")

In [16]:
table_name = 'good_data'
keyspace = "TDD"


integer = 'int'
var = 'varchar'

age = 'age'
sex = 'sex'
on_thyroxine = 'on_thyroxine'
query_on_thyroxine = 'query_on_thyroxine'
on_antithyroid_medication =  'on_antithyroid_medication'
sick = 'sick'
pregnant = 'pregnant'
thyroid_surgery = 'thyroid_surgery'
I131_treatment = 'I131_treatment'
query_hypothyroid = 'query_hypothyroid'
query_hyperthyroid = 'query_hyperthyroid'
lithium = 'lithium'
goitre = 'goitre'
tumor = 'tumor'
hypopituitary = 'hypopituitary'
psych = 'psych'
TSH_measured = 'TSH_measured'
TSH = 'TSH'
T3_measured = 'T3_measured'
T3 = 'T3'
TT4_measured = 'TT4_measured'
TT4 = 'TT4'
T4U_measured = 'T4U_measured'
T4U = 'T4U'
FTI_measured = 'FTI_measured'
FTI = 'FTI'
TBG_measured = 'TBG_measured'
TBG = 'TBG'
referral_source = 'referral_source'
Class=  'Class'

In [172]:
import csv
for file in onlyfiles:
    data = pd.read_csv(goodFilePath+'/'+file)
    for i, row in data.iterrows():
        query = (f"insert into model.goodrawdata ({age}, {sex}, {on_thyroxine}, {query_on_thyroxine}, {on_antithyroid_medication}, {sick}, {pregnant}, {thyroid_surgery}, {I131_treatment}, {query_hypothyroid},{query_hyperthyroid}, {lithium}, {goitre}, {tumor}, {hypopituitary},{psych}, {TSH_measured}, {TSH}, {T3_measured}, {T3}, {TT4_measured}, {TT4}, {T4U_measured}, {T4U},{FTI_measured}, {FTI}, {TBG_measured}, {TBG},{referral_source}, {Class}) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")
        session.execute(query, tuple(row))
    
print("Record inserted !!!")

Record inserted !!!

In [11]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'secure-connect-thyroiddiseasedata.zip'
}
auth_provider = PlainTextAuthProvider('JWwyyCcBXwOwizHiyYzZqDpa', 'TQx8KjB5XwFkT.dd0,GAFwskPKjyw5ikZh5WQMfswPiUjiShLTXBm,KUL91hbACZOb7LteMNtjU5GOMG4y0kY4YWUoc+6OT5GBk5I0HZTxjZr9hZWtFt-966RDu6IIz,')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6815

In [17]:
try:
    
    try:
         session.execute(f"CREATE TABLE db.data({age} {integer} PRIMARY KEY, {sex} {var}, {on_thyroxine} {var},{query_on_thyroxine} {var},{on_antithyroid_medication} {var},{sick} {var},{pregnant} {var},{thyroid_surgery} {var}, {I131_treatment} {var}, {query_hypothyroid} {var}, {query_hyperthyroid} {var}, {lithium} {var}, {goitre} {var}, {tumor} {var}, {hypopituitary} {var}, {psych} {var}, {TSH_measured} {var}, {TSH} {var}, {T3_measured} {var}, {T3} {var}, {TT4_measured} {var}, {TT4} {var}, {T4U_measured} {var}, {T4U} {var}, {FTI_measured} {var}, {FTI} {var}, {TBG_measured} {var}, {TBG} {var}, {referral_source} {var}, {Class} {var});")
         print("Table Created")
    except:
        print("Table already Present !!")
        
except Exception as e:
    print(e)

Table Created

In [24]:
session.execute("[copy] db.data (age, sex, on_thyroxine, query_on_thyroxine, on_antithyroid_medication, sick, pregnant, thyroid_surgery, I131_treatment, query_hypothyroid,query_hyperthyroid, lithium, goitre, tumor, hypopituitary,psych, TSH_measured, TSH, T3_measured, T3, TT4_measured, TT4, T4U_measured, T4U,FTI_measured, FTI, TBG_measured, TBG,referral_source, Class) FROM 'InputFile.csv' WITH HEADER = TRUE;")

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:0 no viable alternative at input '[' ([[]...)">

In [22]:
for i in session.execute("select * from db.data;"):
    print(i)

In [182]:
import csv
for file in onlyfiles:
    data = pd.read_csv(goodFilePath+'/'+file)
    for i, row in data.iterrows():
        query = (f"insert into db.goodrawdata ({age}, {sex}, {on_thyroxine}, {query_on_thyroxine}, {on_antithyroid_medication}, {sick}, {pregnant}, {thyroid_surgery}, {I131_treatment}, {query_hypothyroid},{query_hyperthyroid}, {lithium}, {goitre}, {tumor}, {hypopituitary},{psych}, {TSH_measured}, {TSH}, {T3_measured}, {T3}, {TT4_measured}, {TT4}, {T4U_measured}, {T4U},{FTI_measured}, {FTI}, {TBG_measured}, {TBG},{referral_source}, {Class}) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")
        session.execute(query, tuple(row))
    
print("Record inserted !!!")

Record inserted !!!

In [2]:
import os
sample_file = os.listdir("Prediction_SampleFile/")[0]
sample_file

'sample_file.csv'

In [4]:
from flask import send_from_directory

In [6]:
send_from_directory("Prediction_SampleFile/", sample_file)

SyntaxError: 'return' outside function (Temp/ipykernel_6236/2715970130.py, line 1)

In [8]:
def return_sample_file():
    sample_file = os.listdir("Prediction_SampleFile/")[0]
    return send_from_directory("Prediction_SampleFile/", sample_file)

In [10]:
return_sample_file()

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.